<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.xgvela.logging">
	<Appenders>
		<NatsAppender name="NatsAppender">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%corrId] : [%-10t] %logger{2} - %msg" />
		</NatsAppender>
	</Appenders>

	<Loggers>
		<Logger name="org.xgvela" level="debug" additivity="false">
			<AppenderRef ref="NatsAppender" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="NatsAppender" />
		</Root>
	</Loggers>
</Configuration>